{% extends '../layouts/default.html' %}

{% block main %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <h4>Tạo mới danh mục</h4>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_cs.as_p }}
        <button type="submit" class="btn btn-dark">Tạo</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{% load static %}
<script src="{% static 'js/processing/form_post.js' %}" defer></script>
{% endblock %}