{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="..." class="d-flex justify-content-center">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link text-dark bg-light" href="?{% if query_params %}{{ query_params }}&{% endif %}page=1">
        <i class="fa-solid fa-angles-left"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link text-dark bg-light" href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.previous_page_number }}">
        <i class="fa-solid fa-angle-left"></i>
      </a>
    </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num < page_obj.number|add:"-3" or num > page_obj.number|add:"2" %}
        {% if num == page_obj.paginator.page_range|last %}
          <li class="page-item">
            <a class="page-link text-dark bg-light" href="?{% if query_params %}{{query_params}}&{% endif %}page={{ num }}"> {{ num }} </a>
          </li>
        {% elif num == page_obj.number|add:"3" %}
          <li class="page-item disabled">
            <span class="page-link text-dark bg-light">...</span>
          </li>
        {% endif %}
      {% else %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
          <a class="page-link {% if page_obj.number == num %}text-white bg-dark border-dark{% else %}text-dark bg-light{% endif %}" href="?{% if query_params %}{{query_params}}&{% endif %}page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link text-dark bg-light" href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.next_page_number }}">
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link text-dark bg-light" href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.paginator.num_pages }}">
        <i class="fa-solid fa-angles-right"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}