/* Show alert  */
[show-alert] {
  position: fixed;
  top: 120px;
  right: 15px;
  z-index: 9999;
}
[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes alert-hidden {
  from {
    right: 15px;
  } to {
    right: -100%;
    display: none;
  }
}
.close-alert {
  font-size: 18px;
  color: red;
  cursor: pointer;
}
/* End show alert  */