<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">VNExpress</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" style="justify-content: space-between;">
      <ul class="navbar-nav gap-3">
        {% if request.user.is_superuser %}
        <li class="nav-item"></li>
          <a class="nav-link" href="/page-management/"><i class="fa fa-dashboard pe-2"></i>Quản lý trang</a>
        </li>
        {% endif %}
        {% if request.user.groups.first.name == 'Editor' or request.user.groups.first.name == 'Approver' or request.user.groups.first.name == 'Contributor' %}
        <li class="nav-item"></li>
        <a class="nav-link" href="/processing/"><i class="fa-solid fa-spinner pe-2"></i>CMS</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">{% if request.user.is_authenticated%}<i class='fas fa-user-check pe-2'></i>{% else %}<i class='fas fa-user-times pe-2'></i>{% endif %}Tài Khoản</a>
          <ul class="dropdown-menu bg-dark">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/account/{{request.user.username}}/"><i class='fas fa-user-alt pe-2'></i>Tài Khoản</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout/"><i class='fas fa-user-minus pe-2'></i>Đăng Xuất</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/login/"><i class='fas fa-user-plus pe-2'></i>Đăng Nhập</a></li>
            <li class="nav-item"><a class="nav-link" href="/register/"><i class='fas fa-user-edit pe-2'></i>Đăng Ký</a></li>
            {% endif %}
          </ul>
        </li>  
      </ul>
      <form class="d-flex" action="/search/">
        <input class="form-control me-2" type="text" placeholder="Search" value="{{keyword}}" name="keyword">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>